<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PRODUCTOINFO</title>
	<link th:href="@{/mdbootstrap/css/mdb.min.css}" rel="stylesheet">
	<link th:href="@{/css/detalle.css}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script th:src="@{/js/java.js}"></script>
</head>
<body>
	 <header>
	        <nav class="menu-container">
	            <ul class="menu">
	                <li class="menu-item inicio">
	                    <a th:href="@{/prueba1/hola}">
	                        <img th:src="@{/img/GamerStar1.png}" width="50px" height="45px" alt="Inicio">
	                    </a>
	                </li>
	                <li class="menu-item productos-large">
	                    <div class="search-bar">
	                        <i class="fas fa-search search-icon"></i>
	                        <input type="text" placeholder="Buscar...">
	                        <div class="dropdown">
	                            <span class="dropbtn">Todas las categorías <i class="fas fa-chevron-down"></i></span>
	                            <div class="dropdown-content">
	                                <a href="#">Consolas</a>
	                                <a href="#">Videojuegos</a>
	                                <a href="#">Accesorios</a>
	                            </div>
	                        </div>
	                    </div>
	                </li>
	                <li class="menu-item categorias"><a th:href="@{/menu/soporte}"><i class="fas fa-comment"></i> Soporte</a></li>
	                <li class="menu-item ofertas-small"><a href="#"><i class="fas fa-heart"></i> Lista de Deseos</a></li>
	               	<li class="menu-item contacto"><a th:href="@{/proyecto/login}"><i class="fas fa-user"></i> Iniciar Sesión / Regístrate</a></li>
	                <li class="menu-item acerca-small">
	                    <a href="#" id="flag-button">
	                        <img th:src="@{/img/banderaper.png}" width="42px" height="30px" alt="Bandera de Perú">
	                    </a>
	                </li>
	            </ul>
	        </nav>
	    </header>
		<!--VENTANA EMERGENTE-->
		    <div class="popup-container" id="popup">
		        <div class="popup-content">
		            <p style="font-weight: 700;">¡Hola, ConerSMG!</p>
		            <div class="profile-info">
		                <img th:src="@{/img/wualax.jpeg}" class="profile-image" alt="Imagen de perfil">
		                <div class="profile-details">
		                    <h2>GameroWua</h2>
		                    <p>Miembro desde el 2021</p>
		                </div>
		            </div>
		            <ul class="options">
		                <br>
		                <!-- Opciones de la ventana emergente con iconos Font Awesome -->
		                <li><a href="#"><i class="fas fa-heart"></i> Lista de Deseos</a></li>
		                <li><a href="#"><i class="fas fa-shopping-cart"></i> Mi carrito de compras</a></li>
		                <li><a href="#"><i class="fas fa-history"></i> Historial de Compras</a></li>
		                <li><a href="#"><i class="fas fa-share-alt"></i> Redes Sociales</li>
		                <li><a href="#"><i class="fas fa-gift"></i> Canjear código</a></li>
		                <li><a href="#"><i class="fas fa-credit-card"></i> Gift Card</a></li>
		                <li><a href="#"><i class="fas fa-cog"></i> Ajustes</a></li>
		                <!-- Repite esto para las otras opciones -->
		            </ul>
		            <button id="close-button">Cerrar</button>
		        </div>
		    </div>
		<div class="submenu">
		    <a th:href="@{/menu/segundo}" class="submenu-item">Videojuegos</a>
		    <a th:href="@{/menu/tercero}" class="submenu-item">Consolas</a>
		    <a th:href="@{/menu/cuarto}" class="submenu-item">Accesorios</a>
		    <a th:href="@{/menu/quinto}" class="submenu-item">Ofertas</a>
		    <a th:href="@{/menu/sexto}" class="submenu-item">Novedades</a>
		</div>
	    <!--CONTENEDOR DE INFO DEL PRODUCTO-->
	    <div class="contenedor-morado">
	        <div class="cuadro-blanco">
	            <div class="titulo" style="margin-left: 70px;">
	                <a th:href="@{/prueba1/hola}">Inicia</a> > <a th:href="@{/menu/segundo}">Videojuegos</a> > <a th:href="@{/menu/detalle}">Forza Horizon 5</a>
	            </div>
	            <div class="contenedor-contenido">
	                <div class="lado-izquierdo">
	                    <img th:src="@{/img/juego3.jpeg}" alt="Imagen Principal">
	                    <div class="miniaturas">
	                        <img th:src="@{/img/PS-Horizon2.png}" alt="Miniatura 1">
	                        <img th:src="@{/img/PS-Horizon3.png}" alt="Miniatura 2">
	                        <img th:src="@{/img/PS-Horizon4.png}" alt="Miniatura 3">
	                        <img th:src="@{/img/PS-Horizon5.png}" alt="Miniatura 4">
	                        <img th:src="@{/img/PS-Horizon6.png}" alt="Miniatura 5">
	                    </div>
	                    <div class="boton-amarillo">Premiun Edition</div>
	                </div>
	                <div class="lado-derecho">
	                    <div class="texto-con-linea">
	                        <div class="linea-vertical"></div>
	                        <div class="texto">Carreas, Deporte, Aventura</div>
	                    </div>
	                    <div class="titulo1">Forza Horizon 5</div>
	                    <p style="margin-top: 40px;">Selecciona tu plataforma:</p>
	                    <div class="plataformas">
	                        <img th:src="@{/img/PS5.png}" alt="Plataforma 1">
	                        <img th:src="@{/img/PC.png}" alt="Plataforma 2">
	                        <img th:src="@{/img/Xbox.png}" alt="Plataforma 3">
	                    </div>
	                    <div class="precio">
	                        S/ 299.00 <i class="fas fa-heart"></i>
	                    </div>
						<a th:href="@{/pago/producto1}">
						    <button class="boton-morado">COMPRAR</button>
						</a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="contenedor-amarillo">
	        <div class="cuadro-izquierdo">
	            <h2>Listo para la carrera</h2>
	            <p>Forza Horizon 5 para PC es un juego de simulación de carreras ambientado en varios lugares hermosos de México. Es el quinto juego de la serie Forza Horizon y el duodécimo juego principal de la franquicia Forza en general. Acerca del juego En este juego, puedes explorar un mapa de mundo abierto verdaderamente enorme, hasta un cincuenta por ciento más grande que el nada despreciable mapa de Forza Horizon 4. Conduce una variedad de vehículos a través de la caldera de un volcán, explora selvas y bosques tropicales en busca de sus ciudades escondidas.</p>
	        </div>
	        <div class="cuadro-derecho">
	            <video width="450" height="340" controls>
	                <source th:src="@{/img/horizonintro.mp4}" type="video/mp4">
	                Tu navegador no soporta el video.
	            </video>
	        </div>
	    </div>
	    <!--CUADROS DE DATOS DEL PRODUCTO-->
	    <div class="contenedor-cuadros" style="margin-top: 80px;">
	        <div class="cuadro">
	            <img th:src="@{/img/PS-Promo1.png}" alt="Imagen 1">
	            <h3> Edición estándar </h3>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Forza Horizonte 5</p>
	            <p class="precio1" style="margin-top: 130px;"> S/. 115</p>
	            <button class="boton-anadir">Añadir a la cesta</button>
	        </div>
	        <div class="cuadro">
	            <img th:src="@{/img/PS-Promo2.png}" alt="Imagen 2">
	            <h3>Edición estándar</h3>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Forza Horizonte 5</p>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Pase de coche Forza Horizonte 5</p>
	            <p class="precio1" style="margin-top: 97px;">S/. 225</p>
	            <button class="boton-anadir">Añadir a la cesta</button>
	        </div>
	        <div class="cuadro">
	            <img th:src="@{/img/PS-Promo3.png}" alt="Imagen 3">
	            <h3> Edición estándar </h3>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Forza Horizonte 5</p>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Pase de coche Forza Horizonte 5</p>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Forza Horizonte 5 Expansion 1</p>
	            <p><span><i class="fas fa-check" style="color: #65388c;"></i></span> Forza Horizonte 5 Expansion 2</p>
	            <p class="precio1" style="margin-top: 25px;"> S/. 299</p>
	            <button class="boton-anadir">Añadir a la cesta</button>
	        </div>
	    </div>
		<!--PIE DE PAGINA-->
		<div class="footer-container">
		    <!-- Primera sección -->
		    <div class="footer-section" style="margin-left: 30px;">
		        <img th:src="@{/img/2logogamestar.png}" alt="Imagen de pie de página" style="margin-bottom: 15px;">
		        <div class="footer-section-text">
		            <p>En GamerStart, nos apasiona el mundo de los videojuegos, seleccionando las mejores marcas a precios competitivos. Nuestra misión es proporcionar una experiencia de compra excepcional para todos los gamers.</p>
		        </div>
		        <div class="footer-images" style="margin-top: 15px;">
		            <img th:src="@{/img/PG-Icon1.png}" alt="Imagen 1">
		            <img th:src="@{/img/PG-Icon2.png}" alt="Imagen 2">
		            <img th:src="@{/img/PG-Icon3.png}" alt="Imagen 3">
		            <img th:src="@{/img/PG-Icon4.png}" alt="Imagen 4">
		        </div>
		    </div>

		    <!-- Segunda sección -->
		    <div class="footer-section" style="margin-top: 10px;">
		        <h4>Tienda</h4>
		        <p>Juegos</p>
		        <p>Equipo</p>
		        <p>Venta y ofertas</p>
		        <p>Servicio en Línea</p>
		        <h4 style="margin-top: 20px;">Política y Términos</h4>
		        <p>Política de Privacidad</p>
		        <p>Términos y Condiciones</p>
		        <p>Política de Devoluciones</p>
		        <p>Envíos y Entregas</p>
		    </div>

		    <!-- Tercera sección -->
		    <div class="footer-section" style="margin-top: 10px;">
		        <h4>Soporte</h4>
		        <p>Preguntas Frecuentes</p>
		        <p>Política de Devoluciones</p>
		        <p>Tiempos y Costos de Envío</p>
		        <p>Contacto de Soporte</p>
		        <p>Garantía de Productos</p>
		    </div>

		    <!-- Cuarta sección -->
		    <div class="footer-section" style="margin-top: 10px;">
		        <h4>Contactanos</h4>
		        <p>Dirección: Av. Garcilaso de la Vega, Lima, Peru</p>
		        <p>Email: gamerstarsoporte@soporte.com</p>
		        <p>Teléfono: +123 456 7890</p>
		        <img th:src="@{/img/PG-Mapa.png}" alt="Imagen de pie de página" style="margin-top: 20px;">
		    </div>
		</div>
		<div class="copyright-container">
		    <p>2024 © TODOS LOS DERECHOS RESERVADOS</p>
		</div>
</body>
</html>