<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBA1</title>
    <link th:href="@{/mdbootstrap/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{/css/prueba1.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script th:src="@{/js/java.js}"></script>
</head>
<body>
	    <header>
	        <nav class="menu-container">
	            <ul class="menu">
	                <li class="menu-item inicio">
	                    <a th:href="@{/prueba1/hola}">
	                        <img th:src= "@{/img/GamerStar1.png}" width="50px" height="45px" alt="Inicio">
	                    </a>
	                </li>
	                <li class="menu-item productos-large">
	                    <div class="search-bar">
	                        <i class="fas fa-search search-icon"></i>
	                        <input type="text" placeholder="Buscar...">
	                        <div class="dropdown">
	                            <span class="dropbtn">Todas las categorías <i class="fas fa-chevron-down"></i></span>
	                            <div class="dropdown-content">
	                                <a href="#">Consolas</a>
	                                <a href="#">Videojuegos</a>
	                                <a href="#">Accesorios</a>
	                            </div>
	                        </div>
	                    </div>
	                </li>
	                <li class="menu-item categorias"><a th:href="@{/menu/soporte}"><i class="fas fa-comment"></i> Soporte</a></li>
	                <li class="menu-item ofertas-small"><a href="#"><i class="fas fa-heart"></i> Lista de Deseos</a></li>
	                <li class="menu-item contacto"><a th:href="@{/proyecto/login}"><i class="fas fa-user"></i> Iniciar Sesión / Regístrate</a></li>
	                <li class="menu-item acerca-small">
	                    <a href="#" id="flag-button">
	                        <img  th:src="@{/img/banderaper.png}" width="42px" height="30px" alt="Bandera de Perú">
	                    </a>
	                </li>
	            </ul>
	        </nav>
	    </header>
		<!--VENTANA EMERGENTE-->
				    <div class="popup-container" id="popup">
				        <div class="popup-content">
				            <p style="font-weight: 700;">¡Hola, ConerSMG!</p>
				            <div class="profile-info">
								<img th:src="@{/img/wualax.jpeg}" class="profile-image" alt="Imagen de perfil">
								<div class="profile-details">
								    <h2>GameroWua</h2>
				                    <p>Miembro desde el 2021</p>
				                </div>
				            </div>
				            <ul class="options">
				                <br>
				                <!-- Opciones de la ventana emergente con iconos Font Awesome -->
				                <li><a href="#"><i class="fas fa-heart"></i> Lista de Deseos</a></li>
				                <li><a href="#"><i class="fas fa-shopping-cart"></i> Mi carrito de compras</a></li>
				                <li><a href="#"><i class="fas fa-history"></i> Historial de Compras</a></li>
				                <li><a href="#"><i class="fas fa-share-alt"></i> Redes Sociales</li>
				                <li><a href="#"><i class="fas fa-gift"></i> Canjear código</a></li>
				                <li><a href="#"><i class="fas fa-credit-card"></i> Gift Card</a></li>
				                <li><a href="#"><i class="fas fa-cog"></i> Ajustes</a></li>
				                <!-- Repite esto para las otras opciones -->
				            </ul>
				            <button id="close-button">Cerrar</button>
				        </div>
				    </div>
		<div class="submenu">
		    <a th:href="@{/menu/segundo}" class="submenu-item">Videojuegos</a>
		    <a th:href="@{/menu/tercero}" class="submenu-item">Consolas</a>
		    <a th:href="@{/menu/cuarto}" class="submenu-item">Accesorios</a>
		    <a th:href="@{/menu/quinto}" class="submenu-item">Ofertas</a>
		    <a th:href="@{/menu/sexto}" class="submenu-item">Novedades</a>
		</div>
	    <div class="image-container">
	        <div class="image-content">
	            <h1>UNA NUEVA</h1>
	            <h2>AVENTURA INICIA</h2>
	            <p>DRAGON BALL: Sparking! ZERO lleva a un nuevo nivel el legendario estilo de juego de</p> 
	            <p>la serie Budokai Tenkaichi. Aprende a dominar a diversos personajes jugables, cada</p>
	            <p>uno con sus habilidades, transformaciones y técnicas propias. Libera tu espíritu de</p>
	            <p>lucha y pelea en escenarios que se derrumban y reaccionan a tu poder a medida que</p> 
	            <p>el combate se recrudece.</p>
	            <button class="buy-button">RESERVAR AHORA</button>
	        </div>
	    </div>
	<!-- Sección de últimos lanzamientos -->
	<div class="latest-releases">
	    <h2>ULTIMOS LANZAMIENTOS</h2>
	    <div class="release-grid">
	        <div class="release-item">
	            <img th:src= "@{/img/juego1.jpg}" alt="Nuevo Juego 1">
	            <h3 class="release-title">THE LAST OF US PART II</h3>
	            <p class="release-date">19 / 06 / 20</p>
	            <div class="offer-ends">
	                <p>La Oferta termina en: <span class="offer-days">23 días</span></p>
	            </div>
	            <div class="offer-price">
	                <p>S/ 150.00 <span class="original-price">S/ 200.00</span> <span class="discount">-25%</span></p>
	            </div>
	            <img th:src="@{/img/PS5.png}" alt="PS5" class="ps5-image">
	            <span class="heart-icon">&#10084;</span>
	        </div>
	        <!-- Repite este bloque para cada nuevo juego -->
	        <div class="release-item">
				<a th:href="@{/menu/detalle}">
				    <img th:src="@{/img/juego3.jpeg}" alt="Nuevo Juego 2">
				</a>
	            <h3 class="release-title1">Forza Horizon 5 - Premium Edition</h3>
	            <p class="release-date1">01 / 11 / 21</p>
	            <div class="offer-ends1">
	                <p>Premium Edition</span></p>
	            </div>
	            <div class="offer-price1">
	                <p>S/ 299.00</p>
	            </div>
	            <div class="platform-icons">
	                <img th:src="@{/img/PS5.png}" alt="PS5" class="platform-icon">
	                <img th:src="@{/img/Xbox.png}" alt="Xbox" class="platform-icon1">
	                <img th:src="@{/img/PC.png}" alt="Xbox" class="platform-icon2">
	            </div>
	            <span class="heart-icon">&#10084;</span>
	        </div>
	        <!-- Repite este bloque para cada nuevo juego -->
	        <div class="release-item">
	            <img th:src="@{/img/juego2.jpeg}" alt="Nuevo Juego 3">
	            <h3 class="release-title1">Final Fantasy XIV: A Realm Reborn</h3>
	            <p class="release-date">19 / 06 / 20</p>
	            <div class="offer-ends2">
	                <p>Ya Disponible</p>
	            </div>
	            <div class="offer-price">
	                <p>S/ 66.90 <span class="original-price">S/ 167.00</span> <span class="discount">-60%</span></p>
	            </div>
	            <div class="platform-icons">
	                <img th:src="@{/img/PS5.png}" alt="PS5" class="platform-icon11">
	                <img th:src="@{/img/PC.png}" alt="Xbox" class="platform-icon21">
	            </div>
	            <span class="heart-icon">&#10084;</span>
	        </div>
	        <!-- Repite este bloque para cada nuevo juego -->
	        <div class="release-item">
	            <img th:src="@{/img/juego4.jpeg}" alt="Nuevo Juego 4">
	            <h3 class="release-title1">Street Fighter V Champion Edition</h3>
	            <p class="release-date">19 / 06 / 20</p>
	            <div class="offer-ends11">
	                <p>La Oferta termina</p>
	            </div>
	            <div class="offer-price">
	                <p>S/ 150.00 <span class="original-price">S/ 200.00</span> <span class="discount">-25%</span></p>
	            </div>
	            <div class="platform-icons">
	                <img th:src="@{/img/PS5.png}" alt="PS5" class="platform-icon11">
	                <img th:src="@{/img/PC.png}" alt="Xbox" class="platform-icon21">
	            </div>
	            <span class="heart-icon">&#10084;</span>
	        </div>
	        <!-- Fin del bloque repetido -->
	    </div>
	</div>
	<div class="dual-section">
	    <div class="left-section">
	        <img th:src="@{/img/fifatitulo.png}" alt="Imagen Izquierda" class="left-image">
	        <h1 class="left-title" >TE DAMOS LA </h1>
	        <h1 class="left-title2" >BIENVENIDA</h1>
	        <h1 class="left-title3" >AL CLUB</h1>
	        <p class="left-text">Se mueve, se ve y se juega como el fútbol. EA SPORTS</p>
	        <p class="left-text"> FC™ 24 te acerca más al fútbol que nunca gracias a un</p>
	        <p class="left-text">trío de tecnologías que llevan el máximo realismo a</p>
	        <p class="left-text">cada partido.</p>
	        <button class="buy-button">Comprar Ahora</button>
	    </div>
	    <div class="right-section">
	        <img th:src="@{/img/fifa.jpeg}" alt="Imagen Derecha Grande" class="right-image">
	    </div>
	</div>
	<!-- Sección de Ofertas Productos-->
	<div class="latest-accessories">
	    <h2>PRODUCTOS EN OFERTA</h2>
	    <div class="accessory-grid">
	        <div class="accessory-item">
	            <img th:src="@{/img/AC1-Equipo.png}" alt="Nuevo Accesorio 1">
	            <h3 class="accessory-title">Audifono Gamer Hyper X 
	                Stinger Core</h3>
	            <div class="accessory-offer-ends">
	                <p>La Oferta termina en: <span class="accessory-offer-days">30 días</span></p>
	            </div>
	            <div class="accessory-offer-price">
	                <p>S/ 150.00 <span class="accessory-original-price">S/ 200.00</span> <span class="accessory-discount">-25%</span></p>
	            </div>
	            <div class="accessory-description">
	                <div class="line"></div>
	                <p>Audifono Gamer, Audífonos</p>
	                <span class="accessory-heart-icon">&#10084;</span>
	            </div>
	        </div>
	        <!-- Repite este bloque para cada nuevo accesorio -->
	        <div class="accessory-item">
	            <img th:src="@{/img/AC2-Equipo.png}" alt="Nuevo Accesorio 2">
	            <h3 class="accessory-title1"> Audifono Airpods pro 2 Deluxe
	            </h3>
	            <div class="accessory-offer-ends">
	                <p>La Oferta termina en: <span class="accessory-offer-days">30 días</span></p>
	            </div>
	            <div class="accessory-offer-price">
	                <p>S/ 150.00 <span class="accessory-original-price">S/ 200.00</span> <span class="accessory-discount">-25%</span></p>
	            </div>
	            <div class="accessory-description">
	                <div class="line"></div>
	                <p>Audifono Gamer, Audífonos</p>
	                <span class="accessory-heart-icon">&#10084;</span>
	            </div>
	        </div>
	        <!-- Repite este bloque para cada nuevo accesorio -->
	        <div class="accessory-item">
	            <img th:src="@{/img/AC3-Equipo.png}" alt="Nuevo Accesorio 3">
	            <h3 class="accessory-title">Mando de Celular para 
	                juegos GM3</h3>
	            <div class="accessory-offer-ends">
	                <p>La Oferta termina en: <span class="accessory-offer-days">10 días</span></p>
	            </div>
	            <div class="accessory-offer-price">
	                <p>S/ 150.00 <span class="accessory-original-price">S/ 200.00</span> <span class="accessory-discount">-25%</span></p>
	            </div>
	            <div class="accessory-description">
	                <div class="line"></div>
	                <p>Audifono Gamer, Audífonos</p>
	                <span class="accessory-heart-icon">&#10084;</span>
	            </div>
	        </div>
	        <!-- Repite este bloque para cada nuevo accesorio -->
	        <div class="accessory-item">
	            <img th:src="@{/img/AC4-Equipo.png}" alt="Nuevo Accesorio 4">
	            <h3 class="accessory-title1"> Microfrono Gamer 
	                Fifine AM8</h3>
	            <div class="accessory-offer-ends">
	                <p>La Oferta termina en: <span class="accessory-offer-days">5 días</span></p>
	            </div>
	            <div class="accessory-offer-price">
	                <p>S/ 150.00 <span class="accessory-original-price">S/ 200.00</span> <span class="accessory-discount">-25%</span></p>
	            </div>
	            <div class="accessory-description">
	                <div class="line"></div>
	                <p>Audifono Gamer, Audífonos</p>
	                <span class="accessory-heart-icon">&#10084;</span>
	            </div>
	        </div>
	        <!-- Fin del bloque repetido -->
	    </div>
	</div>
	<!-- Tipos de consolas -->
	<h2 class="titulo-consolas">CONSOLAS DE VIDEOJUEGOS</h2>
	<div class="tipos-container">
	<!-- Imagen 1 -->
	<div class="image-item">
	    <img th:src="@{/img/PS5.jpg}" alt="Imagen 1" style="object-position: 0% 25%; border-radius: 40px;">
	</div>

	<!-- Imagen 2 -->
	<div class="image-item">
	    <img th:src="@{/img/nintento.jpg}" alt="Imagen 2">
	</div>

	<!-- Imagen 3 -->
	<div class="image-item">
	    <img th:src="@{/img/xboxxs.jpg}" alt="Imagen 3" style="object-position: 40% 25%; border-radius: 40px;">
	</div>
	</div>
	<h2 class="titulo-consolas">NOVEDADES</h2>
	<!--NOVEDADES-->
	<div class="novedades-container">
	    <!-- Sección Izquierda -->
	    <div class="novedades-left">
	        <div class="novedades-imagen">
	            <img th:src="@{/img/noticia.png}" alt="Oferta única" height="520px">
	            <div class="novedades-contenido">
	                <h3 class="novedades-titulo">La guerra de las consolas de esta generación:
	                    PlayStation 5 casi duplica a Xbox Series, pero la 
	                   Switch sigue inalcanzable</h3>
	                <p class="novedades-descripcion"> Ya nos vamos acercando, mes arriba mes abajo, al ecuador de esta generación de 
	                    consolas. Las dos específicamente de sobremesa, PlayStation 5 y los dos modelos 
	                    de Xbox Series, debutaron hace tres años y un mes</p>
	            </div>
	        </div>
	    </div>
	    
	    <!-- Sección Derecha -->
	    <div class="novedades-right">
	        <div class="novedades-cuadro">
	            <img th:src="@{/img/2logogamestar.png}" alt="Imagen de oferta">
	            <div class="linea-blanca"></div> <!-- Línea Blanca -->
	            <div class="novedades-texto-fecha">
	                <p class="novedades-mes">Junio</p>
	                <p class="novedades-fecha">03/06/2024</p>
	            </div>
	        </div>        
	        <!-- Nuevas Secciones -->
	        <div class="novedades-seccion">
	            <div class="novedades-imagen">
	                <img th:src="@{/img/NoticiaN1.png}" alt="Imagen 1">
	            </div>
	            <div class="novedades-texto">
	                <h3 class="novedades-titulo2"> ¿Saldrá GTA 6 en PC? Esto dice 
	                    Take-Two</h3>
	                <p class="novedades-fecha-seccion">3 de junio de 2024</p>
	                <p class="novedades-descripcion2"> En medio de la creciente expectación por el lanzamiento 
	                    de Grand Theft Auto 6 (GTA VI), programado para otoño 
	                    del próximo año, los fans comienzan a tener serias dudas 
	                    sobre la disponibilidad del nuevo título de Rockstar.</p>
	            </div>
	        </div>
	        <div class="novedades-seccion">
	            <div class="novedades-imagen">
	                <img th:src="@{/img/NoticiaN2.png}" alt="Imagen 2">
	            </div>
	            <div class="novedades-texto">
	                <h3 class="novedades-titulo2"> Si Tears of the Kingdom te gustó, la 
	                    edición especial limitada tiene una...</h3>
	                <p class="novedades-fecha-seccion">3 de junio de 2024</p>
	                <p class="novedades-descripcion2">The Legend of Zelda: Tears of the Kingdom es uno de los 
	                    mejores juegos del catálogo de Nintendo Switch, supe
	                    rando a Breath of the Wild en diversos aspectos.</p>
	            </div>
	        </div>
	        <div class="novedades-seccion">
	            <div class="novedades-imagen">
	                <img th:src="@{/img/NoticiaN3.png}" alt="Imagen 3">
	            </div>
	            <div class="novedades-texto">
	                <h3 class="novedades-titulo2"> Próximo Xbox sería potenciado por 
	                    IA y una unidad de procesamiento..</h3>
	                <p class="novedades-fecha-seccion"> 3 de junio de 2024</p>
	                <p class="novedades-descripcion2"> Hace tiempo, filtraciones revelaron los primeros detalles 
	                    del Xbox de próxima generación, que supuestamente 
	                    apostará en grande por la nube.</p>
	            </div>
	        </div>
	    </div>
	</div>
	<!--PIEG DE PAGINA-->
	<div class="footer-container">
	    <!-- Primera sección -->
	    <div class="footer-section" style="margin-left: 30px;">
	        <img th:src="@{/img/2logogamestar.png}" alt="Imagen de pie de página" style="margin-bottom: 15px;">
	        <div class="footer-section-text">
	            <p>En GamerStart, nos apasiona el mundo de los videojuegos, seleccionando las mejores marcas a precios competitivos. Nuestra misión es proporcionar una experiencia de compra excepcional para todos los gamers.</p>
	        </div>
	        <div class="footer-images" style="margin-top: 15px;">
	            <img th:src="@{/img/PG-Icon1.png}" alt="Imagen 1">
	            <img th:src="@{/img/PG-Icon2.png}" alt="Imagen 2">
	            <img th:src="@{/img/PG-Icon3.png}" alt="Imagen 3">
	            <img th:src="@{/img/PG-Icon4.png}" alt="Imagen 4">
	        </div>
	    </div>

	    <!-- Segunda sección -->
	    <div class="footer-section" style="margin-top: 10px;">
	        <h4>Tienda</h4>
	        <p>Juegos</p>
	        <p>Equipo</p>
	        <p>Venta y ofertas</p>
	        <p>Servicio en Línea</p>
	        <h4 style="margin-top: 20px;">Política y Términos</h4>
	        <p>Política de Privacidad</p>
	        <p>Términos y Condiciones</p>
	        <p>Política de Devoluciones</p>
	        <p>Envíos y Entregas</p>
	    </div>

	    <!-- Tercera sección -->
	    <div class="footer-section" style="margin-top: 10px;">
	        <h4>Soporte</h4>
	        <p>Preguntas Frecuentes</p>
	        <p>Política de Devoluciones</p>
	        <p>Tiempos y Costos de Envío</p>
	        <p>Contacto de Soporte</p>
	        <p>Garantía de Productos</p>
	    </div>

	    <!-- Cuarta sección -->
	    <div class="footer-section" style="margin-top: 10px;">
	        <h4>Contactanos</h4>
	        <p>Dirección: Av. Garcilaso de la Vega, Lima, Peru</p>
	        <p>Email: gamerstarsoporte@soporte.com</p>
	        <p>Teléfono: +123 456 7890</p>
	        <img th:src="@{/img/PG-Mapa.png}" alt="Imagen de pie de página" style="margin-top: 20px;">
	    </div>
	</div>
	<div class="copyright-container">
	    <p>2024 © TODOS LOS DERECHOS RESERVADOS</p>
	</div>
</body>
</html>